a {
    text-decoration: none;
    display: inline-block;
    float: left;
    background-color: black;
    color: orange;
    font-size: 24px;
    font-family: arial;
    text-transform: uppercase;
    width: 260px;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    border: 3px solid orange;
    margin: 20 15 20 15;
    transition: 0.3s;
  }

  a:hover {
    background-color: #333;
    color: white;
    border: black;
  }